	img{
	width:105px;
	height:40px;
	margin-top:15px;
    	
	
}
span{
	margin-top:10px;
	font-size:14px;
}

.a{
	border-width:5;
	background-color:#4b0082;
    width:100%; 
    border-style:solid;
	border-color:black;
	
}
.c{
   width:400;
   height:38px; 
   font-size:15;
   border-radius:8px;
   
}
a
{ 
	text-decoration:none;
	color:black;
}
.d 
{  
   height:38px;
   Font-size:20;
   width:100;
   background-color:lightgray;   
   border-radius:8px;
   cursor: pointer;

}
.nav{
	
	Font-size:20px;
	
}
.nav a{
	text-decoration:none;
	color:white;
}
p{
	Font-size:30px;
	color:white;
}	
.products {
    display: flex;
    justify-content: left;
    
}

.product {
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 270px;
    margin: 20px;
    
}

.product img {
    width: 150px;
    height: auto;
}

.buy-now {
    background-color: #f60;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.buy-now:hover {
    background-color: #c30;
}	
.leptop {
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 270px;
    margin: 20px;
    
}

.leptop img {
    width: 250px;
    height:220;
}
#h2{
	Font-size:20;
}
.mobile {
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 270px;
    margin: 20px;
    
}

.mobile img {
    width: 250px;
    height:220;
}
