body {
        background-color: #f3f3f3;
        font-family: Arial, sans-serif;
      }

      .logo {
        text-align: center;
        margin-top: 50px;
      }

      .logo img {
        width: 100.px;
		height:50px;
      }

      .logo span {
        font-size: 25px;
        font-weight: bold;
      }

      .card {
        border-radius: 10px;
		border-style:solid;
        padding: 20px;
        width: 300px;
        margin: 0 auto;
      }

      h1 {
        font-size: 26px;
        margin: 5;
        padding: 2px;
      }

      p {
        font-size: 15px;
        color: #555;
        margin: 5px 0;
      }

      input[type="text"],
      input[type="password"] {
        width: 280px;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      #b button {
        height: 40px;
        width: 100%;
        background-color: #ff9900;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
       
      }

      #b button:hover {
        background-color: #ff6600;
      }

      input[type="checkbox"] {
        margin-top: 15px;
      }

      a {
        color: #0066cc;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .footer {
        text-align: center;
        margin-top: 15px;
      }